html {
    scroll-behavior: smooth;
}

* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


body {
    background-image: url(/images/backgroundPlaceholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#pageContainer {
    padding-top: 0;
    padding-bottom: 2.5rem;
}

#topBar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 4px solid white;
    box-shadow: 0 4px 0 0 #2001ff;
}

#topBar p {
    width: 25%;
    height: 4rem;
    padding: 0;
    margin: auto;
    text-align: right;
}

#nameImage {
    width: 50%;
    margin-left: 5%;
}


#skillsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
    text-align: center;
}

#skillsContainer section {
    background-color: white;
    margin: 10%;
    padding: 5%;
    border-radius: 10px 25px;
    box-shadow: 10px 10px 0 0 #2001ff;
}

#skillsContainer section * {
    color: black;
}

#skillsContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#projectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
    text-align: center;
}

#projectsContainer img {
    height: 160px;
}

@keyframes shadowDisplay {
    0% {
        box-shadow: 0 0 0 0 white;
    }

    100% {
        box-shadow: 10px 10px 0 0 white;
    }
}

@keyframes shadowHide {
    0% {
        box-shadow: 10px 10px 0 0 white;
    }

    100% {
        box-shadow: 0 0 0 0 white;
    }
}

.project {
    margin: 5%;
    padding: 5% 5% 20% 5%;
    border: 1px solid white;
    border-radius: 10px 25px;
    position: relative;
    animation: shadowHide .2s;
}

.project:hover {
    animation: shadowDisplay .2s;
    animation-fill-mode: forwards;
}

.projectLink {
    position: absolute;
    bottom: 1em;
    right: 5em;
    margin-top: 4em;
    background-color: white;
    border-radius: 10px;
}

.projectLink a {
    color: black;
    font-weight: bold;
    display: block;
    padding: .5em 2em;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: inset 0 0 10px 0 white;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
	transition: all ease 0.6s;
}

.projectLink a:hover {
    box-shadow: inset 150px 0 0 0 #2001ff;
    color: #fff;
}

#contact {
    width: 90%;
    align-content: center;
    text-align: center;
    margin: auto;
    margin-top: 4em;
    margin-bottom: 6em;
}


#footer {
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background-color: black;
}

#icons img {
    width: 5em;
    margin: .5em;
    transition: transform 0.3s ease-in-out;
}

#icons img:hover {
    transform: scale(1.2);
}

/*TODO UPDATE PHONE VERSION */
@media only screen and (max-width: 600px) {

    body {
        background-image: none;
        background-color: black;
    }

    #aboutMe {
        padding: 0em 2em 1em;
    }

    #nameImage {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #projectsContainer {
        display: revert;
    }

    #projectsContainer img {
        width: 60vw;
        height: auto;
    }

    .project {
        padding-bottom: 7em;
    }

    .projectLink {
        right: 27%;
    }

}